* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('orange.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 600px;
  display: flex;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255, 0.3);
  border: 1px solid rgba(255,255,255, 0.2);
  font-size: 14px;
  line-height: 1.4rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card .photo {
  padding: 100px 40px;
}

.card .photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.card .info {
  background: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px;
}

.card .info h2 {
  margin: 0 0 12px 0;
}

.card .info p {
  margin: 0;
}